<div class="row">
   <!-- Alternatif Profil lain -->
   <div class="span3">
     <p><center>Want's Alternative?</center></p>   
    <%= render "home/alternatif_foto" %>  
   </div>
   
   <!-- Iklan -->
   <div class="span3 ">
           <%= render "home/iklan" %>
   </div>   
  
</div>     

<div class="span9"><%= render "home/navigation" %></div>
<div class="well">
  <!-- Content And Video -->
  <div class="span9"><%= render "home/content" %></div>    

  <!-- Footer Content-->
  <div class="span9"><%= render "home/footer" %></div>
</div>