<!DOCTYPE html>
<html>
<head>
  <title>James Ke</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
 <%= render "layouts/navigasi" %>

<%= yield %>
<%= render "layouts/footer" %>

</body>
</html>
